.file-upload-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  border: 5px solid #e9e4e4;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input {
  display: none;
}

.choose-file-button {
  margin-bottom: 20px;
  background-color: #0066ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px 15px;
  cursor: pointer;
}

.choose-file-button:hover {
  background-color: #151515;
}

.custom-file-input {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-file-input:hover {
  background-color: #151515;
}

.file-name {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}

.success-popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5cb85c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
